.git
.gitignore
.dockerignore
notebooks/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.ipynb_checkpoints/
README.md
DEPLOY.md
LICENSE
tests/
scripts/
data/
*.md
*.txt
!requirements.txt
*.pth
!weights/*.pth
