# fly.toml app configuration file generated for crowdcounting-l4w5mw on 2026-01-05T19:13:39Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "crowdcounting-l4w5mw"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  PYTHONUNBUFFERED = "1"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[http_service.concurrency]
  type = "connections"
  hard_limit = 25
  soft_limit = 20

[[http_service.checks]]
  grace_period = "300s"
  interval = "30s"
  method = "GET"
  path = "/health"
  timeout = "30s"

[[vm]]
  memory = "4gb"
  cpu_kind = "performance"
  cpus = 1
  memory_mb = 1024

[experimental]
  swap_size_mb = 1024
